@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/* 화면 초기화 */
* {
   margin: 0px; 
   padding: 0px;
   
}

main {
   width: 100%;
   height: 100vh;
}

section {
   display: flex;
   flex-direction: column;
}

main section article {
   font-family: 'Inter', sans-serif;
   font-size: 2.7rem;
   text-align: center;
   width:100%; 
}

main section article img{
   width:7%; 
   height:auto; 
   vertical-align: middle;
}

@media screen and (max-width:1199px){
   main section article img{
      width:10%; 
      height:auto; 
      vertical-align: middle;
   }
}